@{
    ViewBag.Title = "Home Page";
}

<section style="background-image:  ">

    <img class="img-responsive" src="https://www.w3schools.com/w3images/mac.jpg" alt="Alternate Text"/>
    
    <div class="row bg-info">
        <div class="col-lg-6">
            <h2>Welcome to Sonali Bank University</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>

        </div>

        <div class="col-lg-6">
            <h2>Download it</h2>
            <p>You can download the completed project.</p>
            <p><a class="btn btn-default" href="">Download &raquo;</a></p>
        </div>
    </div>


</section>
